*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  
  &.opened {
    overflow-y: hidden;
  }
}

body {
  height: 100%;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  color: $black;
  background-color: $beige;
  overflow-x: hidden;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    line-height: 18px;
  }
}

.container {
  @include media-breakpoint-down(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
}